.quiz__block {
  width: 30rem;
  max-width: 90%;
  margin: 0 auto;
}
.qyiz__answers {
  margin-left: 2rem;
  margin-top: 0.25rem;
}
.quiz__options {
  min-width: 60ch;
  line-height: 1;
  text-align: left;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 0.5rem;
}

.quiz__options:hover,
.quiz__options:focus {
  background-color: bisque;
}

.btn__next {
  position: relative;
  left: 40%;
  background-color: #e86d21;
  color: #000000;
}
.btn__next:hover {
  background-color: #e85d21;
}

.btn__submit {
  position: relative;
  left: 40%;
  background-color: #20e870;
  color: #000000;
}
.btn__submit:hover {
  background-color: #4bbd5f;
}
